<div class = "container mt-4" *ngIf="!isLogging">
    <div class="jumbotron">
        <!--<span *ngIf="(username$ | async) as data;else no_username">
            <h1 *ngIf="data.text" class="display-4">Olá {{data.text}}</h1>
        </span>
        <ng-template #no_username><h1 class="display-4">Não foi iniciada sessão</h1></ng-template>
        -->
        <h1 *ngIf="username" class="display-4">Olá {{username}}</h1>
        <h1 *ngIf="!username" class="display-4">Não foi iniciada sessão</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>